aiohttp==3.7.4.post0
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bootstrap4==0.1.0
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
Django==3.2.3
django-bootstrap4==3.0.1
idna==2.10
importlib-metadata==2.1.1
ipinfo==4.2.0
multidict==5.1.0
pkg-resources==0.0.0
pytz==2021.1
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
zipp==3.4.1
